# Default behviour for text files
* text=auto

# default behaviour for binary files
*.dat binary

# Windows bat files
*.bat text eol=crlf

# Fortune cookie files should have format
gradlew text eol=lf
src/test/resources/fortune/art text eol=lf
src/test/resources/fortune/ascii-art text eol=lf
src/test/resources/fortune/bofh-excuses text eol=lf
src/test/resources/fortune/computers text eol=lf
src/test/resources/fortune/cookie text eol=lf
src/test/resources/fortune/debian text eol=lf
src/test/resources/fortune/definitions text eol=lf
src/test/resources/fortune/disclaimer text eol=lf
src/test/resources/fortune/drugs text eol=lf
src/test/resources/fortune/education text eol=lf
src/test/resources/fortune/ethnic text eol=lf
src/test/resources/fortune/food text eol=lf
src/test/resources/fortune/fortunes text eol=lf
src/test/resources/fortune/goedel text eol=lf
src/test/resources/fortune/humorists text eol=lf
src/test/resources/fortune/kids text eol=lf
src/test/resources/fortune/knghtbrd text eol=lf
src/test/resources/fortune/law text eol=lf
src/test/resources/fortune/linux text eol=lf
src/test/resources/fortune/linuxcookie text eol=lf
src/test/resources/fortune/literature text eol=lf
src/test/resources/fortune/love text eol=lf
src/test/resources/fortune/magic text eol=lf
src/test/resources/fortune/medicine text eol=lf
src/test/resources/fortune/men-women text eol=lf
src/test/resources/fortune/miscellaneous text eol=lf
src/test/resources/fortune/news text eol=lf
src/test/resources/fortune/paradoxum text eol=lf
src/test/resources/fortune/people text eol=lf
src/test/resources/fortune/perl text eol=lf
src/test/resources/fortune/pets text eol=lf
src/test/resources/fortune/platitudes text eol=lf
src/test/resources/fortune/politics text eol=lf
src/test/resources/fortune/pratchett text eol=lf
src/test/resources/fortune/riddles text eol=lf
src/test/resources/fortune/science text eol=lf
src/test/resources/fortune/songs-poems text eol=lf
src/test/resources/fortune/sports text eol=lf
src/test/resources/fortune/startrek text eol=lf
src/test/resources/fortune/tao text eol=lf
src/test/resources/fortune/translate-me text eol=lf
src/test/resources/fortune/wisdom text eol=lf
src/test/resources/fortune/work text eol=lf
src/test/resources/fortune/zippy text eol=lf
